.first{
	background-color: orange;
	width: 80%;
	height: 150px;
}
.second{
	background-color: white;
	width: 80%;
	height: 150px;
	text-align: center;
}
.third{
	background-color: green;
	width: 80%;
	height: 150px;
}
.ashok{
	width: 150px;
	height: 150px;
}